{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <title>selfintroduce</title>
</head>
<body>
    <img class="bg" src="{% static 'image/sky.png' %}">
    <h1>it's ME!_!</h1>
    <div class="content">
        역할맥 기기기기기기긱기기기<br>
        종강종강종강주<br>
        너무 신나 끼야호 우루롹끼 울랄라~<br>
    </div>
</body>
</html>