h1{
    font-size: 80px;
    color:white;
    text-align: center;
    z-index:1;
    position: absolute;
    top: 18%;
    left: 30%;
}

.content{
    font-size: 40px;
    color: white;
    text-align: center;
    z-index:1;
    position: absolute;
    top: 48%;
    left: 30%;
}

.bg{
    position: relative;
    max-width: 100%;
    max-height: 100%;
    border: 0;
    padding: 0;
    background-position:center;
    background-size: cover;
    z-index: -1;
}